body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button,
input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"], button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
}

input[type="submit"]:hover, button[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="reset"], button[type="reset"] {
    background-color: #007BFF;
    color: #fff;
}

input[type="reset"]:hover, button[type="reset"]:hover {
    background-color: #aaa;
}
